@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #EAE4DB;
    color: #000000;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 10%;
}

.home-text {
    width: 50%;
    padding: 20px;
}

.home-text h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.home-text h3 img {
    width: 20px;
    margin-right: 5px;
}

.home-text h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
}

.home-text p {
    font-size: 20;
    margin: 15px 0;
}

.home-image {
    width: 50%;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 70%;
}

.portfolio {
    background: #F5F2ED;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 0 10%;
}

.portfolio-text {
    padding: 20px;
}

.portfolio-text h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0;
}

.resume {
    display: flex;
    justify-content: space-between;
    height: 150vh;
    padding: 0 10%;
}

.resume-text {
    padding: 20px;
}

.resume-text h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 15px 0;
}